<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="aidboat"/>

    <node pkg="joy" type="joy_node" name="joy">
        <param name="dev" value="/dev/input/js2"/>
        <param name="autorepeat_rate" value="10"/>
    </node>

    <rosparam file="$(find aidboat_gazebo)/config/diffdrive.yaml" command="load"/>
    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
        <remap from="cmd_vel" to="cmd_vel"/>
    </node>

    <node pkg="vrx_gazebo" type="twist2thrust.py" name="twist2thrust" output="screen">
        <remap from="left_cmd" to="left_thrust_cmd"/>
        <remap from="right_cmd" to="right_thrust_cmd"/>
    </node>

    </launch>