<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find vrx_gazebo)/worlds/example_course.world" />
    </include>
	<arg name="gui" default="true" />
    <arg name="config" default="aidboat_gazebo" />
    <param name="robot_description" command="$(find xacro)/xacro $(find aidboat_gazebo)/urdf/aidboat_gazebo.urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model aidboat" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find aidboat_gazebo)/rviz/$(arg config).rviz" />

</launch>

