<?xml version="1.0"?>
<model>
    <name>aidboat</name>
    <version>1.0</version>
    <sdf>urdf/aidboat.urdf</sdf>

    <author>
        <name>Carolina Rojas</name>
        <email>crecheverri@gmail.com</email>
    </author>

    <description>
        Fake model to prevent errors from GAZEBO_MODEL_PATH
    </description>
</model>
