<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <!--   <arg name="world_name" value="$(find vrx_gazebo)/worlds/example_course.world" />
    </include>-->

    <param name="robot_description" command="$(find xacro)/xacro $(find aidboat_description)/urdf/aidboat.urdf" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model aidboat -x 158 -y 108 -z 0.1" />

</launch>

