<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="aidboat_gps" params="name:=gps">
        <link name="${name}_link">
            <visual name="${name}_visual">
                <geometry>
                    <cylinder radius="0.0775" length="0.081"/>
                </geometry>
                <material name="White">
                <color rgba="1.0 1.0 1.0 1.0"/>
                </material>
            </visual>
            <collision name="${name}_collision">
                <geometry>
                    <cylinder radius="0.0775" length="0.081"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.470"/>
                <inertia ixx="0.00096270687" ixy="0.0" ixz="0.0" iyy="0.00096270687" iyz="0.0" izz="0.00141146875"/>
            </inertial>
        </link>
        
        <joint name="${name}_joint" type="fixed">
            <origin xyz="0.23 0.45 0.3736" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="${name}_link"/>
        </joint>
        
        <gazebo reference="${name}_link">
            <material>Gazebo/White</material>
        </gazebo>

        <gazebo>
            <plugin name="aidboat_gps_plugin" filename="libhector_gazebo_ros_gps.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>15</updateRate> 
                <bodyName>${name}_link</bodyName>
                <frameId>${name}_link</frameId>
                <topicName>aidboat/sensors/gps/fix</topicName>
                <velocityTopicName>aidboat/sensors/gps/fix_velocity</velocityTopicName>
                <referenceLatitude>-33.4317</referenceLatitude>
                <referenceLongitude>150.4031</referenceLongitude>
                <referenceAltitude>0</referenceAltitude>
                <referenceHeading>90</referenceHeading>
                <offset>0 0 0</offset>
                <drift>0 0 0</drift>
                <gaussianNoise>0 0 0</gaussianNoise>
                <velocityOffset>0 0 0</velocityOffset>
                <velocityDrift>0 0 0</velocityDrift>
                <velocityGaussianNoise>0 0 0</velocityGaussianNoise>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>