<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="aidboat_lidar" params="name:=lidar">
        <link name="${name}_link">
            <visual name="${name}_visual">
                <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
                <geometry>
                    <mesh filename="package://aidboat_gazebo/meshes/lidar.stl"/>
                    <!--<cylinder radius="0.0525" length="0.152"/>-->
                </geometry>
            </visual>
            <collision name="${name}_collision">
                <origin xyz="0.014 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.0525" length="0.152"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="1.1"/>
                <inertia ixx="0.00478826733" ixy="0.0" ixz="0.0" iyy="0.00414728033" iyz="0.0" izz="0.00249892033"/>
            </inertial>
        </link>
        
        <joint name="${name}_joint" type="fixed">
            <origin xyz="-0.28 0 0.543" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="${name}_link"/>
        </joint>
        
        <link name="${name}_laser">
        </link>

        <joint name="${name}_laser_joint" type="fixed">
            <origin xyz="0.055 0 0.116" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_laser" />
        </joint>


        <material name="black">
            <color rgba="0 0 0 1.0"/>
        </material>
        
        <gazebo reference="${name}_laser">
            <sensor type="ray" name="${name}_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>False</visualize>
                <update_rate>15</update_rate>            
                <ray>
                    <scan>
                        <horizontal>
                            <samples>540</samples>
                            <resolution>1</resolution>
                            <min_angle>-2.357</min_angle>
                            <max_angle>2.357</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.5</min>
                        <max>20.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>                    
                </ray>
                <plugin name="aidboat_${name}_plugin" filename="libgazebo_ros_laser.so">
                    <topicName>/aidboat/sensors/laser/scan</topicName>
                    <frameName>${name}_laser</frameName>
                </plugin>
            </sensor>
        </gazebo>   
    </xacro:macro>
</robot>