<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find aidboat_gazebo)/urdf/thrusters_gazebo.xacro" />
  <xacro:engine prefix="right" reflect="1" reflect2="-1"/>
  <xacro:engine prefix="left" reflect="-1" reflect2="1"/>
  
  <gazebo>
    <plugin name="aidboat_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <robotNamespace>aidboat</robotNamespace>
      <xacro:include filename="$(find aidboat_gazebo)/urdf/thruster_layouts/aidboat_gazebo_thruster_config.xacro" />
      <xacro:aidboat_gazebo_thruster_config name="left" />
      <xacro:aidboat_gazebo_thruster_config name="right" />
    </plugin>
  </gazebo>
</robot>