<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="aidboat">
	<xacro:macro name="collisions" params="prefix reflect">
		<collision name="${prefix}_hull">
			<origin xyz="0.273998 ${reflect*(0.447)} -0.146" rpy="0 0 ${reflect*(-0.0244346)}"/>
			<geometry>
				<box size="2.002 0.286 0.292"/>
			</geometry>
		</collision>
	</xacro:macro>

	<link name="base_link">
	</link>

	<joint name="dummy_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<parent link="base_link"/>
		<child link="dummy_link" />
	</joint>

	<link name="dummy_link">
		<inertial>
			<mass value="32.712"/>
			<origin xyz="0 0.26377 0.02064" rpy="0 0 0"/>		
			<inertia ixx="4.662514672" ixy="0" ixz="0" iyy="12.57628507" iyz="0" izz="15.22053986"/>
		</inertial>

		<collision name="top_base">
			<origin xyz="0 0 0.1255" rpy="0 0 0"/>
			<geometry>
				<box size="0.73 1.15767 0.251"/>
			</geometry>
		</collision>

		<xacro:collisions prefix="right" reflect="1"/>
		<xacro:collisions prefix="left" reflect="-1"/>

		<visual>
			<origin rpy="0 0 0" xyz="0 0 0.292"/>
			<geometry>
				<mesh filename="package://aidboat_description/models/aidboat_base/mesh/AIDBOAT_Base.dae"/>
			</geometry>
		</visual>
	</link>

</robot>