<?xml version="1.0"?>
<robot name="aidboat">

<link name="dummy">
   </link>
<link name="base_link">
    <inertial>
        <mass value="9.7"/>
        <inertia ixx="0.3268889088" ixy="0" ixz="0" iyy="0.1452968093" iyz="0" izz="0.1452968093"/>
    </inertial>

    <collision>
        <origin xyz="0 0 0.1255" rpy="0 0 0"/>
        <geometry>
            <box size="0.73 1.15 0.251"/>
        </geometry>
    </collision>

    <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/Base.dae"/>
    </geometry>
    </visual>
</link>

<joint name="dummy_joint" type="fixed">
    <parent link="dummy"/>
    <child link="base_link"/>
</joint>

<joint name="base_to_hull1" type="fixed">
    <parent link="base_link"/>
    <child link="hull1_link"/>
    <origin xyz="0.172098 0.447 0" rpy="0 0 0"/>
</joint>

<link name="hull1_link">
    <inertial>
        <mass value="19.4"/>
        <inertia ixx="0.07803639653" ixy="0" ixz="0" iyy="2.168007709" iyz="0" izz="2.168007709"/>
    </inertial>

    <collision>
        <origin xyz="0.1019 0 -0.146" rpy="0 0 -0.0244346"/>
        <geometry>
            <box size="2.002 0.286 0.292"/>
        </geometry>
    </collision>

    <visual>
    <origin rpy="0 0 -0.0244346" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/Hull.dae"/>
    </geometry>
    </visual>
</link>

<joint name="base_to_hull2" type="fixed">
    <parent link="base_link"/>
    <child link="hull2_link"/>
    <origin xyz="0.172098 -0.447 0" rpy="0 0 0"/>
</joint>

<link name="hull2_link">
    <inertial>
        <mass value="19.4"/>
        <inertia ixx="0.07803639653" ixy="0" ixz="0" iyy="2.168007709" iyz="0" izz="2.168007709"/>
    </inertial>

    <collision>
        <origin xyz="0.1019 0 -0.146" rpy="0 0 0.0244346"/>
        <geometry>
            <box size="2.002 0.286 0.292"/>
        </geometry>
    </collision>

    <visual>
    <origin rpy="0 0 0.0244346" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/Hull.dae"/>
    </geometry>
    </visual>
</link>

<link name="CCWEngine">
    <inertial>
        <mass value="0.126"/>
        <inertia ixx="0.00002900992" ixy="0" ixz="0" iyy="0.00002900992" iyz="0" izz="0.0001575"/>
    </inertial>

    <collision>
        <origin xyz="0.011222 0 0" rpy="0 1.5708 0.0244346"/>
        <geometry>
            <cylinder radius="0.05" length="0.113"/>
        </geometry>
    </collision> 

    <visual>
    <origin rpy="0 0 0.0244346" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/CCWEngine.dae"/>
    </geometry>
    </visual>
</link>

<joint name="base_to_CCWEngine" type="fixed">
    <parent link="base_link"/>
    <child link="CCWEngine"/>
    <origin xyz="-0.741 -0.47 -0.308" rpy="0 0 0"/>
</joint>

<joint name="CCWEngine_to_Propeller" type="continuous">
    <parent link="CCWEngine"/>
    <child link="CCWPropeller"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis rpy="0 0 0" xyz="1 0 0"/>
    <limit effort="100" velocity="100"/>
    <dynamics friction="0.05" damping="0.05"/>
</joint>

<link name="CCWPropeller">
    <inertial>
        <mass value="0.030"/>
        <inertia ixx="0.00000058378" ixy="0" ixz="0" iyy="0.00000058378" iyz="0" izz="0.00002177415"/>
    </inertial>

    <collision>
        <origin xyz="0.0109 0 0" rpy="0 1.5708 0.0244346"/>
        <geometry>
            <cylinder radius="0.0381" length="0.03"/>
        </geometry>
    </collision>

    <visual>
    <origin rpy="0 0 0.0244346" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/CCWPropeller.dae"/>
    </geometry>
    </visual>
</link>

<link name="CWEngine">
    <inertial>
        <mass value="0.126"/>
        <inertia ixx="0.00002900992" ixy="0" ixz="0" iyy="0.00002900992" iyz="0" izz="0.0001575"/>
    </inertial>

    <collision>
        <origin xyz="0.011222 0 0" rpy="0 1.5708 -0.0244346"/>
        <geometry>
            <cylinder radius="0.05" length="0.113"/>
        </geometry>
    </collision>

    <visual>
    <origin rpy="0 0 -0.0244346" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/CWEngine.dae"/>
    </geometry>
    </visual>
</link>

<joint name="base_to_CWEngine" type="fixed">
    <parent link="base_link"/>
    <child link="CWEngine"/>
    <origin xyz="-0.741 0.469 -0.307001" rpy="0 0 0"/>
</joint>

<joint name="CWEngine_to_Propeller" type="continuous">
    <parent link="CWEngine"/>
    <child link="CWPropeller"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis rpy="0 0 0" xyz="1 0 0"/>
    <limit effort="100" velocity="100"/>
    <dynamics friction="0.05" damping="0.05"/>
</joint>

<link name="CWPropeller">
    <inertial>
        <mass value="0.030"/>
        <inertia ixx="0.00000058378" ixy="0" ixz="0" iyy="0.00000058378" iyz="0" izz="0.00002177415"/>
    </inertial>

    <collision>
        <origin xyz="0.0109 0 0" rpy="0 1.5708 -0.0244346"/>
        <geometry>
            <cylinder radius="0.0381" length="0.03"/>
        </geometry>
    </collision>

    <visual>
    <origin rpy="0 0 -0.0244346" xyz="0 0 0"/>
    <geometry>
        <mesh filename="package://aidboat_description/meshes/CWPropeller.dae"/>
    </geometry>
    </visual>
</link>

</robot>
