<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aidboat">

<link name="dummy">
</link>

<link name="base_link">
	<inertial>
		<mass value="9.7"/>
		<inertia ixx="0.3268889088" ixy="0" ixz="0" iyy="0.1452968093" iyz="0" izz="0.1452968093"/>
	</inertial>

	<collision>
		<origin xyz="0 0 0.1255" rpy="0 0 0"/>
		<geometry>
			<box size="0.73 1.15 0.251"/>
		</geometry>
	</collision>

	<visual>
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<geometry>
			<mesh filename="package://aidboat_description/meshes/Base.dae"/>
		</geometry>
	</visual>
</link>

<joint name="dummy_joint" type="fixed">
	<parent link="dummy"/>
	<child link="base_link"/>
</joint>

<xacro:macro name="hulljoint" params="prefix reflect">
<joint name="base_to_${prefix}" type="fixed">
	<parent link="base_link" />
	<child link="${prefix}_link" />
	<origin xyz="0.172098 ${reflect*(0.447)} 0" rpy="0 0 0" />
</joint>
</xacro:macro>

<xacro:hulljoint prefix="hull1" reflect="1" />
<xacro:hulljoint prefix="hull2" reflect="-1" />

<xacro:macro name="hull" params="prefix reflect">
<link name="${prefix}_link">
	<inertial>
		<mass value="19.4"/>
		<inertia ixx="0.07803639653" ixy="0" ixz="0" iyy="2.168007709" iyz="0" izz="2.168007709" />
	</inertial>

	<collision>
		<origin xyz="0.1019 0 -0.146" rpy="0 0 ${reflect*(0.0244346)}" />
		<geometry>
			<box size="2.002 0.286 0.292" />
		</geometry>
	</collision>

	<visual>
		<origin rpy="0 0 ${reflect*(0.0244346)}" xyz="0 0 0" />
		<geometry>
			<mesh filename="package://aidboat_description/meshes/Hull.dae" />
		</geometry>
	</visual>
</link>
</xacro:macro>

<xacro:hull prefix="hull1" reflect="-1" />
<xacro:hull prefix="hull2" reflect="1" />

<xacro:macro name="Engine" params="prefix reflect">
<link name="${prefix}Engine">
	<inertial>
		<mass value="0.126" />
		<inertia ixx="0.00002900992" ixy="0" ixz="0" iyy="0.00002900992" iyz="0" izz="0.0001575" />
	</inertial>

	<collision>
		<origin xyz="0.011 0 0" rpy="0 1.5708 ${reflect*(0.0244346)}" />
		<geometry>
			<cylinder length="0.113" radius="0.05"/>
		</geometry>
	</collision>

	<visual>
		<origin rpy="0 0 ${reflect*(0.0244346)}" xyz="0 0 0" />
		<geometry>
			<mesh filename="package://aidboat_description/meshes/${prefix}Engine.dae" />
		</geometry>
	</visual>
</link>
</xacro:macro>

<xacro:macro name="Propeller" params="prefix reflect">
<link name="${prefix}Propeller">
	<inertial>
		<mass value="0.030" />
		<inertia ixx="0.00000058378" ixy="0" ixz="0" iyy="0.00000058378" iyz="0" izz="0.00002177415" />
	</inertial>

	<collision>
		<origin xyz="0.011 0 0" rpy="0 1.5708 ${reflect*(0.0244346)}" />
		<geometry>
			<cylinder length="0.03" radius="0.0381"/>
		</geometry>
	</collision>

	<visual>
		<origin rpy="0 0 ${reflect*(0.0244346)}" xyz="0 0 0" />
		<geometry>
			<mesh filename="package://aidboat_description/meshes/${prefix}Propeller.dae" />
		</geometry>
	</visual>
</link>
</xacro:macro>

<xacro:Propeller prefix="CCW" reflect="1" />
<xacro:Propeller prefix="CW" reflect="-1" />


<xacro:Engine prefix="CCW" reflect="1" />
<xacro:Engine prefix="CW" reflect="-1" />

<xacro:macro name="b2Ejoint" params="prefix reflect">
<joint name="base_to_${prefix}Engine" type="fixed">
	<parent link="base_link" />
	<child link="${prefix}Engine" />
	<origin xyz="-0.741 ${reflect*(0.47)} -0.308" rpy="0 0 0" />
</joint>
</xacro:macro>

<xacro:b2Ejoint prefix="CCW" reflect="-1" />
<xacro:b2Ejoint prefix="CW" reflect="1" />

<xacro:macro name="E2Pjoint" params="prefix">
<joint name="${prefix}Engine_to_Propeller" type="continuous">
	<parent link="${prefix}Engine" />
	<child link="${prefix}Propeller" />
	<origin xyz="0 0 0" rpy="0 0 0" />
	<axis rpy="0 0 0" xyz="1 0 0" />
	<limit effort="100" velocity="100" />
	<dynamics friction="0.05" damping="0.05" />
</joint>
</xacro:macro>

<xacro:E2Pjoint prefix="CCW" />
<xacro:E2Pjoint prefix="CW" />

</robot>
