<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="aidboat-thrusters">

  <xacro:include filename="$(find aidboat_description)/urdf/thrusters.xacro" />
  <xacro:thrusters prefix="right" reflect="1" reflect2="-1"/>
  <xacro:thrusters prefix="left" reflect="-1" reflect2="1"/> 

  <gazebo>
    <xacro:macro name="thrusters_plugin" params="prefix">
      <plugin name="aidboat_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so" xmlns:xacro="http://ros.org/wiki/xacro">
        <cmdTimeout>1.0</cmdTimeout>
        <thruster>
          <linkName>${prefix}_propeller_link</linkName>
          <propJointName>${prefix}_engine_propeller_joint</propJointName>
          <engineJointName>${prefix}_chasis_engine_joint</engineJointName>
          <cmdTopic>${prefix}_thrust_cmd</cmdTopic>
          <angleTopic>${prefix}_thrust_angle</angleTopic>
          <enableAngle>false</enableAngle>
          <mappingType>0</mappingType>
          <maxCmd>1.0</maxCmd>
          <maxForceFwd>51.4849</maxForceFwd>
          <maxForceRev>-40.2073</maxForceRev>
        </thruster>
      </plugin>
    </xacro:macro>
    <xacro:thrusters_plugin prefix="right"/>
    <xacro:thrusters_plugin prefix="left"/>
  </gazebo>

</robot>